@model IEnumerable<QL_KhachSan.Models.HoaDon>


@{
    ViewBag.Title = "Danh Sách Đặt Phòng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mb-3">Lịch sử đặt phòng</h2>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

<table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
        <tr>
            <th>Mã HD</th>
            <th>Khách hàng</th>
            <th>Ngày đặt</th>
            <th>Nhân viên đặt</th>
            <th>Tổng tiền</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var hd in Model)
        {
            <tr>
                <td>@hd.MaHD</td>

                <td>
                    @(hd.KhachHang != null ? hd.KhachHang.TenKH : "Không có")
                    <br />
                    <small>@(hd.KhachHang != null ? hd.KhachHang.Gmail : "Không có")</small>
                </td>

                <td>@(hd.NgayLap?.ToString("dd/MM/yyyy") ?? "")</td>

                <td>
                    @(hd.NhanVien != null ? hd.NhanVien.HoTenNV : "Không có")
                </td>

                <td>
                    @String.Format("{0:#,##0} VNĐ", hd.TongTien)
                </td>
            </tr>
        }
    </tbody>
</table>

